.b-timer__count.b-count.js-timer-count(class!="js-timer-count--%name%")
    .b-count__part.js-timer-count__part
        .b-count__part-num(data-current="0" data-next="0")
        .b-count__part-num(data-current="0" data-next="0" class="b-count__part-num--active")
    .b-count__part.js-timer-count__part
        .b-count__part-num(data-current="0" data-next="0")
        .b-count__part-num(data-current="0" data-next="0" class="b-count__part-num--active")
    .b-count__title!= '%title%'