.new-year-trends
    &__body
        width 100%
        height 100%
        position relative
        background-size cover
        z-index 1
        
    &__link
        text-decoration none
        display block
        position relative
        
    &__image
        display block
        width 100%
        height 100%
        position relative
        z-index 1
    
    &__canvas
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        cursor inline-image('../../imgs/cursor.png') 48 30, default
        z-index 2