<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Banner test page

    link(rel="stylesheet" href="static/styles.css")
    script(type="text/javascript" src="static/js/compat.js")
body
    .page
        .header
        .main-banners
        .width-wrapper
            if __banner
                .bnr-pallete__item!= __banner
        .width-wrapper
        .width-wrapper
        #seo-menu
        .footer