.bnr-pallete__item.bnr-palleteii__item_sq(style="width:306px;height:306px")
    style(type="text/css"): include ../.tmp/styles.css
    .new-year-trends__body.js-new-year-trends
        a.new-year-trends__link(href="/" data-overlay="imgs/snow.png" data-radius="80")
            img.new-year-trends__image(src="imgs/banner.jpg")
    script(type="text/javascript"): include ../.tmp/scripts.js