.bnr-pallete__item.bnr-palleteii__item_sq(style="width:306px;height:306px")
    if __styles
        style(type="text/css")!= __styles
    .new-year-trends__body.js-new-year-trends
        a.new-year-trends__link(href="/" data-overlay="static/imgs/new-year-trends/snow.png" data-radius="80")
            img.new-year-trends__image(src="static/imgs/new-year-trends/banner.jpg")
    if __scripts
        script(type="text/javascript")!= __scripts