.b-ip-banner
	width 960px
	margin 0 auto
	
	&__part
		height 350px
		
		&-inner
			padding .5em 1.2em
		
		&--left
			width 232px
			background #777
			float left
			
		&--right
			width 728px
			background #ebebeb
			margin 0 0 0 232px
		
			.widescreen &
				width 974px
				
			.b-ip-banner--white &
				background #000

	.widescreen &
		width 1206px
		
	.b-timer
		font 16px/1 sans-serif
		