mixin slider-item(discount, startTime, endTime, status)
    a.b-happy-hours__slider-item(href="/" data-starttime= startTime, data-endtime= endTime, data-status= status)
        .b-happy-hours__slider-item__left
            img.b-happy-hours__slider-item__image(src!="/files/icon-01.png")
        .b-happy-hours__slider-item__right(data-discount="#{discount}%")
            block
        .b-happy-hours__timer.e-timer.js-happyhours-timer