.e-timer-item(class="<%=name%>")
    span.count.curr.top <%=currTop%>
    span.count.next.top <%=nextTop%>
    span.count.next.bottom <%=nextBottom%>
    span.count.curr.bottom <%=currBottom%>
    span.e-timer-item__label=<%=title%>